# Introducción a Python

En este notebook vamos a recorrer algunos de los conceptos básicos de programación en general y Python en particular. Recomendamos ir haciéndolo con las diapositivas de la clase a mano como guía y con el buscador de Google como su mejor amigo. Existen muchísimos recursos de libre acceso disponibles para ayudarnos, recomendamos https://learnxinyminutes.com/docs/python3/ .


## Recomendación:
Además de realizar los ejercicios, les sugerimos fuertemente que vayan probando y modificando el código presente en este notebook. La mejor manera de aprender es meter mano, 'romper' el código e intentar entender porque dejó de funcionar. ¡No hay nada irreversible, no tengan miedo!

## 1. Variables, Tipos de Datos y Operaciones

### 1.1 Variables
Son los datos u obejetos que que definimos para trabajar en nuestro programa. Cada variable debe llevar un nombre a través del cual nos referimos a ella, los nombres deben ser únicos y, en lo posible, ser lo mas explícitos posibles para evitar confusiones.

Usando el `=` se asigna un valor a una variable. No es un igual matemático/lógico, pueden pensarlo como una flecha (<--) que asigna lo que hay del lado derecho a lo que hay del lado izquierdo.

In [1]:
# Asignamos el valor 3 a una variable que creamos, de nombre x
x = 3

# Evaluamos e imprimimos en pantalla el resultado
print(x)

3

In [2]:
# Asignamos el valor 15.7 a una nueva variable, de nombre y
y = 15.7

print(y)

15.7

In [3]:
# Podemos definir una nueva variable como la suma de dos anteriores
z = x + y

print(z)

18.7

In [4]:
# Se peude tambier asignar un valor de texto otra variable
un_texto = 'HOLA!'

print(un_texto)

HOLA!

In [5]:
# Si queremos, podemos borrar alguna variable que ya no la utilizaremos mas
del(un_texto)
print(un_texto)

NameError: name 'un_texto' is not defined

### Nota importante:
Al correr esta íltima linea, deben ver un mensaje de error. Los mensajes de error son MUY IMPORTANTES. Nos brindan información muy valiosa cuando nuestro código no funciona. En este caso, nos está avisando que no puede imprimir la variable `un_texto`, ya que la eliminamos y no está definida.

### 1.2 Tipos de Datos
Cuando definimos una variable, dependiendo el contenido que le asignamos, la misma será de un determinado tipo. Los tipos de datos más comunes de variables son: `int`,`float`,`string` y `boolean`. Veamos algunos ejemplos de cada tipo.

In [6]:
a = 42
print(type(a))

<class 'int'>

In [7]:
b = 7.8
print(type(b))

<class 'float'>

In [8]:
c = True
print(type(c))

<class 'bool'>

In [9]:
t1 = 'hola'
print(type("hola"))

t2 = '523'
print(type('t2'))

<class 'str'>
<class 'str'>

**Nota**: a pesar de ser un número, la variable `t2` es de tipo `string`. Esto se debe a que lo pusimos entre comillas.

In [10]:
# Este es un tipo especial de variable, que se utiliza para simbolizar algo 'vacio'
d = None
print(type(d))

<class 'NoneType'>

Si por algun motivo (ya veremos que esto es algo que suele suceder), uno desea explicitar el tipo de variable y no dejar que python lo asuma por si solo, esto también es posible.

In [11]:
numero = 45
print(type(numero))

# Quiero que sea un 'float' y no un int
numero = float(45)
print(type(numero))

# Quiero que sea un 'string' y no un int
numero = str(45)
print(type(numero))

<class 'int'>
<class 'float'>
<class 'str'>

In [12]:
otro_numero = 45.0
print(type(otro_numero))

# Quiero que sea un 'int' y no un 'float'
otro_numero = int(45.0)
print(type(otro_numero))

<class 'float'>
<class 'int'>

**Ejercicio**: Cambiar el tipo de la variable 'numero' a float.

In [13]:
numero = '5'

#numero = COMPLETAR
numero = float(numero)

if type(numero) is float:
    print('Correcto!')
else:
    print('Convierta la valable a tipo float')

Correcto!

### 1.3 Operaciones
Con las variables que definimos, podemos realizar distintas operaciones. Dependiendo el tipo de variable, hay diferentes operaciones diponibles.

#### 1.3.1 Operaciones con números

In [14]:
# Se pueden realizar las operaciones basicas entre numeros
a = 20
b = 4
print(a+b)
print(a-b)

24
16

In [15]:
# Se pueden realizar las operaciones incluso entre distintos tipos de variables
a = 20
b = 4.5

c = a+b
d = a-b

print(c)
print(d)

24.5
15.5

In [ ]:
# Notemos que estos resultados son de tipo float
print(type(c))
print(type(d))

In [ ]:
# Podemos dividir dos numeros
x = 10
y = 3
z = x/y
print(z)

In [ ]:
# Notemos que, a pesar de venir de una operación entre dos enteros,
# z es de tipo float
print(type(z))

In [ ]:
# Esta operación es muy usada en computación, nos devuelve el resto de la división
x = 10
y = 3
print(x%y)
print(type(x%y))

**Ejercicio**: Calcular el porcentaje que representa el valor 17 sobre un total de 54 y guardarlo en una variable llamada 'porcentaje'.

In [ ]:
porcentaje = 17*100/54
print(porcentaje)

#### Operaciones con Texto

In [ ]:
txt_1 = 'Los textos'
txt_2 = ' se concatenan.'
print(txt_1 + txt_2)

In [ ]:
txt_3 = 'Los textos se multiplican. '
print(txt_3 * 2)

In [ ]:
b = 'Los textos'
c = ' no se restan.'
print(b - c)

**Nota**: No nos cansaremos de decirles que presten atención a los mensajes de error.

In [ ]:
# Que pasa si queremos sumar un número al texto?
b = 'Mi edad es '
c = 28
print(b + c)

El error nos dice que a los 'string' solo se le pueden concatenar otros 'strings' (no enteros). La manera correcta sería entonces:

In [ ]:
# Que pasa si queremos sumar un número al texto?
b = 'Mi edad es '
c = 28
print(b + str(c))

**Ejercicio**: Armar la frase 'El gran gran gran gran gran castillo mide 50 metros.' a partir de operar con las siguientes variables (viene con trampita):

In [ ]:
txt1 = 'gran '
txt2 = 'El '
tet3 = 'mide '
txt4 = ' metros.'
numero = 50

frase = txt2 + 5*txt1 + 'castillo '+ tet3 + str(numero) + txt4
print(frase)

#### 1.3.3 Operaciones Lógicas

In [ ]:
variable_1 = True
variable_2 = False
print(variable_1 or variable_2)

In [ ]:
print(not(variable_1))

In [ ]:
variable_3 = variable_1 and variable_2
print(variable_3)

## 2. Listas, Loops y Condicionales

### 2.1 Listas

Son un objeto central en el lenguaje Python. Están compuestas por una sucesión de objetos en un orden determinado. Se definen mediante corchetes '[ ]', y los objetos dentro de ellas se separan por comas ','.

In [ ]:
lista_1 = [42, 4.7, True, 'Texto']
print(lista_1)

In [ ]:
# Podemos inspeccionar el largo de una lista, o sea, su cantidad de elementos
len(lista_1)

Podemos inspeccionar elementos de una lista accediendo a una determinada posición de la misma. Los índices de las posiciones empiezan en 0, y se especifican poniendo corchetes con el índice dentro luego del nombre de la lista:

In [ ]:
print(lista_1[0])
print(type(lista_1[0]))

In [ ]:
print(lista_1[3])
print(type(lista_1[3]))

In [ ]:
print(lista_1[2])
print(type(lista_1[2]))

In [ ]:
# Tambien podemos selecciona una porción de lista
#(ya veremos esto en detalle mas adelante)
print(lista_1[0:3])

In [ ]:
# Definimos una segunda lista
lista_2 = [0, lista_1, 'Mas texto']
print(lista_2)
print(len(lista_2))

Notemos que en esta segunda lista, agregamos dentro la primera. Toda la primer lista cuenta como un único elemento.

In [ ]:
# Un elemento de la lista_2 es la lista_1
print(lista_2[1])

Podemos crear listas vacias, e ir agregándole elementos con el método 'append()'

In [ ]:
lista_vacia = []
len(lista_vacia)

In [ ]:
lista_vacia.append(42)
lista_vacia.append('un segundo item')
print(lista_vacia)
print(len(lista_vacia))

Prueben qué pasa si corren nuevamente la celda anterior (justo arriba de esta).

**Ejercicio**: Defina una lista vacia llamada 'lista_nueva' y agréguele (`append()`) los elementos a, b y c.

In [ ]:
a = 8
b = 'world'
c = [12,24.5,66]

lista_nueva = []
lista_nueva.append(a)
lista_nueva.append(b)
lista_nueva.append(c)
print(lista_nueva)

**Detalle muy importante:** copiado de listas (que vale para listas, arreglos de Numpy y dataframes de Pandas)

In [ ]:
lista_1 = [1,2,3,4]
lista_2 = lista_1  #lista_2 ahora es igual a lista_1
lista_2[-1] = 100 #el ultimo elemento de la lista ahora es 100, con -1 seleccionamos el ultimo elemento de la lista
print(lista_1, lista_2)

¡Se modificaron ambas listas!

In [ ]:
lista_1 = [1,2,3,4]
lista_2 = lista_1.copy()
lista_2[-1] = 100
print(lista_1, lista_2)

Ahora no!

### 2.2 Loops
Los **Loops** son estructuras de codigo fundamentales en cualquier lenguaje de programación. Son bloques de código que se repiten dada una cierta cantidad de veces dada una condición.

#### 2.2.1 For
El For es un loop en el que un bloque de código se repite tantas veces como elementos haya en una determinada lista. En cada iteración (repetición) hay una variable que va tomando el valor de uno de los elementos en esta lista.

In [ ]:
lista_numeros = [3,55,1,876,12]

# Definimos el codigo dentro del for mediante la indentación
# (Todo lo que este corrido un 'tab' a la derecha)
for elemento in lista_numeros:
    print(elemento)

In [ ]:
# Repitamos los mismo que la celda anteriro
# pero ahora agregemos una variable i 
# que cuente la cantidad de veces que ese corre el codigo 

lista_numeros = [3,55,1,876,12]

# La iniciamos en cero
i = 0

for elemento in lista_numeros:
    
    # Le sumamos 1 cada vez que entra
    i = i+1
    print(elemento)

In [ ]:
print(i)

También podemos recorrer listas de texto. Presten atencion al siguiente codigo, e intenten precedir el resultado antes de correr la celda.

In [ ]:
lista_nombres = ['Ernesto', 'Camilo', 'Violeta']
nueva_lista = []

for item in lista_nombres:
    oracion = 'Mi nombre es ' + item
    nueva_lista.append(oracion)

# Este print esta fuera del for, no está indentado
print(nueva_lista)

**Ejercicio**: Genere una lista llamada 'numerotes' que contenga el cuadrado de cada elemento en la lista 'numeritos'.

In [ ]:
numeritos = [3,1,5,7,12,10,17,4,22]

numerotes = []

for numero in numeritos:
    numerotes.append(numero**2)
    
print(numerotes)


#### 2.2.2 While
El while repite un bloque de código mientras se cumpla una cierta condición que le ponemos. Para mayor claridad, pondremos la condición dentro de parentesis '()'.

In [ ]:
numero = 1

while (numero < 5):
    print(numero)
    numero = numero + 1

In [ ]:
# La condición debe ser una operación lógica y dar como resultado un booleano
print(2 < 5)
type(2 < 5)

In [ ]:
print(5 < 5)
type(5 < 5)

**Ejercicio**: Decida si quiere ejecutar el siguiente bloque de código.

In [ ]:
numero = 1

while (numero > 0):
    numero = numero + 1

Si decidió ejecutarlo (o corrió la celda antes de leer la consigna), ¡felicitaciones, usted ha colgado por primera vez un programa! Pero como ya dijimos, hay que probar y equivocarse, nada es irreversible. Vaya a la solapa 'Kernel' del menú y seleccione 'Interrupt'. Lo que sucuede es que la condición del `while` será siempre cierta, por ende nuestro programa se quedará repitiendo el bloque de codigo dentro del loop indefinidamente. Puede averiguar cuantas iteraciones realizo la maquina inspeccionando la variable 'numero':

In [ ]:
print(numero)

¡Notar qué rápido la computadora hace algunas operaciones!

### 2.3 Condicionales
Los condicionales son un bloque de codigo que se ejecuta solo en el caso que se cumpla una dada condición.

### 2.3.1 If
El condicional más simple es el `if`. Nuevamente para mayor claridad escribiremos la condicion entre parentesis (), aunque esto no es necesario.

In [ ]:
valor = 15

if (valor > 10):
    print('El valor el mayo que 10')

La condición que escribimos debe ser una operación lógica que da como resultado un booleano.

In [ ]:
print(15 > 10)

In [ ]:
print(type(15 > 10))

### 2.3.2 If, Else
A este condicional se le peude agregar otro bloque de codigo que se ejecute si la condición exigida NO se cuemple. Esto se logra mediante la expresión 'else'.

In [ ]:
nombre = 'Pedro'

if (nombre == 'Juan'):
    print('Esta persona se llama Juan')
else:
    print('Esta persona NO se llama Juan')

In [ ]:
'Juan'=='Pedro'

### 2.3.3 If, Elif, Else
A esta estructura se le pueden sumar tantas condiciones encadenadas como uno desee, mediante la expresión `elif`. El orden en que se van chequeando las condiciones depende de su posición, priemero se chequea el `if`, luego el primer `elif`, luego el segundo, y así sucesivamente.

In [ ]:
edad = 20

if (edad < 18):
    print('Esta persona tiene menos de 18 años')
elif (edad > 18):
    print('Esta persona tiene mas de 18 años')
else:
    print('Esta persona tiene justo 18 años')

**Ejercicio**: Escriba un bloque de código que, dado un número, imprima la frase 'El numero es par' si el número es par o la frase 'El numero es impar' si no lo es.

In [ ]:
numero = 17

if numero%2==0:
    print('Es par')
else:
    print('Es impar')

### 2.4 Combinando estructuras de código
Las estructuras de loops y condicionales que aprendimos se pueden combinar para generar comportamientos más complejos.

In [ ]:
lista_de_edades = [4,20,15,29,11,42,10,18]
lista_mayores = []

# Queremos armar una lista solo con las edades mayores o iguales a 18
for edad in lista_de_edades:
    if (edad >= 18):
        # Agremos a la lista de mayores
        lista_mayores.append(edad)

print(lista_mayores)

## Ejercicios integradores y de repaso

A continuación dejamos muchos ejercicios. ¡No se preocupen si no pueden hacer todos!

**Ejercicio**: ¿Qué es un *float*?¿Qué operaciones se pueden hacer con ellos?

**Ejercicio**: ¿Qué es un *string*?¿Qué operaciones se pueden hacer con ellos? Escribir algunos ejemplos.

In [ ]:
'a' + ' b'

**Ejercicio**: 
* ¿cuáles son las operaciones con booleanos básicas? Pistas: and, or.
* ¿Qué pasa si sumás, restás, multiplicás o dividís booleanos?

Operaciones Booleanas Básicas

In [ ]:
print(True and True, True and False, False and False)
print(True or True, True or False, False or False)

**Ejercicio**: Hacer una declaración if/else que compare dos variables y que decida cuál es mayor.

In [ ]:
A = 3
B = 4
if A>B :
    print('A es mayor a B' )
else:
    print('B es mayor a A')

**Ejercicio**: Dada la siguiente lista de numeros:

In [ ]:
numeros_en_texto = ['2', '3', '2', '3', '2', '2', '2', '2', '3', '2', '3', '1', '3', '1', '2', '2', '2', '2', '2', '2', '2', '2', '1', '2', '3', '2', '2', '2', '2', '1', '2', '3', '2', '2', '3', '2', '3', '3', '2', '2', '1', '3', '3', '2', '3', '2', '2', '1', '2', '1', '1', '2', '2', '3', '2', '2', '2', '3', '2', '2', '2', '1', '2', '2', '3', '2', '2', '2', '2', '1', '2', '2', '2', '2', '3', '1', '2', '3', '3', '2', '3', '2', '2', '3', '3', '1', '1', '3', '2', '1', '2', '2', '2', '1', '1', '2', '2', '2', '2', '2', '2', '2', '3', '3', '1', '3', '3', '3', '2', '2', '2', '2', '2', '2', '2', '3', '3', '2', '2', '3', '2', '2', '2', '2', '2', '3', '3', '2', '2', '1', '3', '2', '2', '2', '3', '2', '3', '1', '3', '3', '2', '3', '3', '2', '2', '2', '2', '2', '2', '1', '2', '2', '1', '2', '3', '2', '1', '3', '1', '2', '3', '3', '3', '2', '3', '1', '3', '2', '3', '1', '2', '2', '2', '3', '3', '2', '2', '2', '2', '2', '3', '1', '2', '3', '3', '2', '2', '3', '2', '2', '2', '3', '2', '2', '2', '2', '1', '2', '3', '1', '3', '2', '2', '3', '3', '3', '2', '2', '1', '1']
print(numeros_en_texto)

Calcule la suma de los unos (1) y los tres (3) en esta lista. Hay muchas formas de hacerlo, si encuentra más de una, mejor. El resultado es 210.

In [ ]:
suma = 0
for numero in numeros_en_texto:
    if int(numero) == 1:
        suma+=1
    elif int(numero) == 3:
        suma +=3

print(suma)

**Ejercicio**: 
* Hacer un for loop que le sume uno a todos los elementos de la lista A = [0,1,2,3,4] y lo imprima.
* Hacer un for loop que le sume uno a todos los elementos de la lista A = [0,1,2,3,4] y lo guarde en una lista nueva B. Googlear: append.
* ¿Qué hace el comando *range*?

In [ ]:
# Hacer un for loop que le sume uno a todos los elementos de la lista A = [0,1,2,3,4] y lo imprima.
A = [0,1,2,3,4]
for elemento in A:
    print(elemento + 1)

In [ ]:
# Hacer un for loop que le sume uno a todos los elementos de la lista A = [0,1,2,3,4] y lo guarde en una lista nueva B. Googlear: append.
A = [0,1,2,3,4]
B = []
for elemento in A:
    B.append(elemento + 1)
print(A, B)

In [ ]:
# ¿Qué hace el comando *range*?
print(range(6))
print(list(range(6)))

In [ ]:
for i in range(6):
    print(i)

**Ejercicio**: Escribir una rutina que imprima aquellos elementos de la lista *a* que son menores que 10.
Pistas: *for*, *if*

In [ ]:
a = [1, 1, 2, 3, 5, 8, 8, 13, 21, 34, 34, 55, 89]
for i in a:
    if i <10:
        print(i)

**Extras**: en lugar de imprimir los elementos de a uno, armar una nueva lista con aquellos elementos que sean menores a 10. ¿Cómo filtran elementos repetidos?

In [ ]:
a = [1, 1, 2, 3, 5, 8, 8, 13, 21, 34, 34, 55, 89]

# DOS OPCIONES
# Primera: mirando si el elemento a agregar ya esta en b
b = []
for i in a:
    if i <10:
        if i not in b:
            b.append(i)
print(b)

# Segunda: filtrando despues
b = []
for i in a:
    if i <10:
        b.append(i)
b = list(set(b))  ## GOOGLEAR QUE ES UN SET
print(b)

**Ejercicio**: dadas dos listas *a* y *b*, armar una lista con:
* Con todos los elementos de *a* y *b*
* Con todos los elementos de *a* y *b*, ordenados de menor a mayor
* Con todos los elementos de *a* y *b*, ordenados de mayor a menor
* Con todos los elementos de *a* y *b*, ordenados de menor a mayor y sin elementos repetidos
* Con todos los elementos que están en ambas listas
* Con todos los elementos que NO están en ambas listas

In [ ]:
a = [12,3,5,12,8,9,25,12,1,3,4,5,17,15]
b = [3,5,7,8,45,8,9,16,1,11,30,41,2,3,15,1,29,22]

¡**NO hay una única forma de hacerlos**!

In [ ]:
# Con todos los elementos de a* y *b
todos = a + b 
print(todos)

In [ ]:
# Con todos los elementos de *a* y *b*, ordenados de menor a mayor
todos = a + b 
todos.sort() #ordena
print(todos)

In [ ]:
# Con todos los elementos de *a* y *b*, ordenados de mayor a menor
todos = a + b 
todos.sort(reverse = True)
print(todos)

In [ ]:
# Con todos los elementos de *a* y *b*, ordenados de menor a mayor y sin elementos repetidos
todos = a + b 
todos = list(set(todos))
todos.sort()
print(todos)

In [ ]:
# Con todos los elementos que están en ambas listas
todos_ambas = []
for elemento in a + b:
    if elemento in a and elemento in b:
        todos_ambas.append(elemento)

## ESTO NO LO PIDE PERO ES MAS FACIL PARA VISUALIZAR
print(list(set(a)))
print(list(set(b)))
print(list(set(todos_ambas)))

In [ ]:
# Con todos los elementos que NO están en ambas listas

## TAREA!

**Ejercicio**: Para googlear:
* ¿Qué es un diccionario? Escribir un ejemplo en una celda.

**Diccionarios**

In [ ]:
# Diccionario
diccionario = {'Key 1': 12, 'Key 2': [1,2,3,4], 'Key 3': 'Puede ser un string'}
print(diccionario)
print(diccionario.keys())
print(diccionario.values())

In [ ]:
diccionario['Key 1']

In [ ]:
# Los keys no necesariamente tienen que ser strings
diccionario = {1: 12, 2: [1,2,3,4], 3: 'Puede ser un string'}
print(diccionario)
print(diccionario.keys())
print(diccionario.values())

In [ ]:
diccionario[2]