In [1]:
import pandas as pd
import numpy as np
import os
import glob
import matplotlib.pyplot as plt

Macro Variable a usar

In [7]:
fecha_corte=202001  #Fecha a la cual se correrá el proceso

In [4]:
os.chdir('C:/Users/zuleyma/Documents/Acamica/Acamica/RECUPERA')

In [5]:
path_input='C:/Users/zuleyma/Documents/Acamica/Acamica/RECUPERA'

In [8]:
recupera = pd.read_csv('TODRT'+str(fecha_corte)+'.txt',encoding = 'ansi', sep='\t',dtype={'id_credactual': np.object,'id_credant':np.object})

In [11]:
print(recupera)
recupera.dtypes

       MODELO  FECHA_MAT  ALTURA_DEFAULT  REC_TEC
0           1     201801               1   0.1384
1           1     201802               1   0.1539
2           1     201803               1   0.1567
3           1     201804               1   0.1785
4           1     201805               1   0.1929
...       ...        ...             ...      ...
48540       7     201903             365   0.0000
48541       7     201909             365   0.0000
48542       7     201911             365   0.0000
48543       7     201912             365   0.0000
48544       7     202001             365   0.0071

[48545 rows x 4 columns]

MODELO              int64
FECHA_MAT           int64
ALTURA_DEFAULT      int64
REC_TEC           float64
dtype: object

In [21]:
fecha_inicial=fecha_corte-99

print(fecha_inicial)

recupera['analisis']=np.where((recupera.FECHA_MAT>=fecha_inicial)&(recupera.FECHA_MAT<=fecha_corte),1,0)

201902

In [22]:
recupera['analisis'].value_counts(dropna=True).sort_index()

0    33215
1    15330
Name: analisis, dtype: int64

In [41]:
#Me quedo sólo con los cortes de análisis

recupera_1 = recupera['analisis']== 1 
print(recupera_1)

0        False
1        False
2        False
3        False
4        False
         ...
48540     True
48541     True
48542     True
48543     True
48544     True
Name: analisis, Length: 48545, dtype: bool

In [24]:
recupera_2 = recupera[recupera_1]
recupera_2.head()

    MODELO  FECHA_MAT  ALTURA_DEFAULT  REC_TEC  analisis202001  analisis
13       1     201902               1   0.1688               1         1
14       1     201903               1   0.1646               1         1
15       1     201909               1   0.1643               1         1
16       1     201911               1   0.1938               1         1
17       1     201912               1   0.1531               1         1

In [42]:
recupera_3 = recupera_2['ALTURA_DEFAULT']== 31
print(recupera_3)

13       False
14       False
15       False
16       False
17       False
         ...
48540    False
48541    False
48542    False
48543    False
48544    False
Name: ALTURA_DEFAULT, Length: 15330, dtype: bool

In [43]:
recupera_4 = recupera_2[recupera_3]
recupera_4.head()

     MODELO  FECHA_MAT  ALTURA_DEFAULT  REC_TEC  analisis202001  analisis
583       1     201902              31   0.0521               1         1
584       1     201903              31   0.0555               1         1
585       1     201909              31   0.0592               1         1
586       1     201911              31   0.0753               1         1
587       1     201912              31   0.0730               1         1

In [44]:
recupera_4.groupby(['ALTURA_DEFAULT','MODELO'])['REC_TEC'].agg(['median','count'])

                        median  count
ALTURA_DEFAULT MODELO
31             1       0.06610      6
               2       0.08395      6
               3       0.06665      6
               4       0.06170      6
               5       0.06150      6
               6       0.04940      6
               7       0.08395      6